Options -Indexes

RewriteEngine On

RewriteRule ^_app(/|$) - [F,L,NC]
RewriteRule (^|/)\. - [F,L]
RewriteRule \.(env|sql|log|bak|backup|old|orig|save|zip|tar|tgz|7z)$ - [F,L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
